<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main id="country">

        <a href="./">Home</a>
        <a href="./allCountries">All Countris</a>
        <a href="./myRecords">My Records</a>

        <div id="card">
        <p>Country: <%= data.country %>
        </p>
        <p>total Confirmed: <%= data.totalconfirmed %>
        </p>
        <p>total Deaths: <%= data.totaldeaths %>
        </p>
        <p>total Recovered: <%= data.totalrecovered %>
        </p>
        <p>Date: <%= data.date %>
        </p>
 

        <form action="/deleteRecord/<%=data.id%>?_method=delete" method="POST">
            <input type="submit" value="Delete">

        </form>

    </div>

    </main>
</body>

</html>